@model TicketGo.Models.Ticket

@{
    ViewData["Title"] = "Ticket Pembelian Detail";
}

<h2>@Html.DisplayFor(modelitem => Model.tempatwisata)</h2>
<table class= "table">
    <tbody>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Harga)</td>
            <td>@Html.DisplayFor(modelitem => Model.Harga)</td>
        </tr>
        <tr>
            <td><label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
            <span asp-validation-for="Stock" class="text-danger"></span></td>
        </tr>
    </tbody>
</table>
<p>Apakah benar anda ingin membeli ticket ini</p>
<form asp-controller="Ticketgocs" asp-action="Beli" asp-route-id =@Model.Id>
    <button type="btn btn-danger"type="submit">Beli</button>
    <a class= "btn btn-primary" asp-controller="Ticketgocs" asp-action="Index">Back</a>
</form>