@{
    ViewData["Title"] = "Movie List";
}
<!DOCTYPE HTML>
<html>
<head>
<h2>Terima Kasih Sudah membeli ticket ditempat kami</h2>

<p>Selamat berlibur</p>

<div>
<a class= "btn btn-primary" asp-controller="Ticketgocs" asp-action="Index">Back</a>
</div>
<style>
    body {
    background-color: #33cccc;}
</style>
</head>
</html>