@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE HTML>
<html>
    <head>
<div class="text-center">
    <h1 class="display-4">Selamat Datang Di TicketGo</h1>
</div>
<style>
body {
background-image: url('https://cdn.discordapp.com/attachments/789162070431629366/906430534358536242/20211106_133109.png');
background-size: cover;
}
</style>
</head>
</html>

